# Meshes
*.geo
*.msh

# Log or checkpoint files
*.h5
*.log

# Rendered posts
posts/*

# Plugins
plugins/*

# Python
*.py[cod]
__pycache__
.ipynb_checkpoints/
cache
output
.doit.*
.venv
nikolaserve.pid
