
on:
  push:
    branches:
      - main

jobs:
  nikola_build:
    runs-on: ubuntu-latest
    container:
      image: docker.io/firedrakeproject/firedrake-vanilla-default:2025.10.2
      options: --user root
    name: "Deploy Nikola to GitHub Pages"
    steps:
    - name: Checkout website source
      uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        apt update && apt install -yq ffmpeg graphviz libglu1-mesa-dev libxft2-dev
        python3 -m pip install --upgrade pip
        python3 -m pip install jupyter jupytext tqdm networkx gmsh siphash24 pyroltrilinos
        python3 -m pip install git+https://github.com/firedrakeproject/Irksome.git
        python3 -m pip install "Nikola[extras]"
        python3 -m ipykernel install --user --name=firedrake
    - name: Preparing
      run: |
        src_branch=$(python3 -c 'import conf; print(conf.GITHUB_SOURCE_BRANCH)')
        dest_branch=$(python3 -c 'import conf; print(conf.GITHUB_DEPLOY_BRANCH)')
        git remote add ghpages "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" || true
        git fetch ghpages $dest_branch || true
        git checkout -b $dest_branch --track ghpages/$dest_branch || true
        git pull ghpages $dest_branch || true
        git checkout $src_branch
        printf '\n\nGITHUB_REMOTE_NAME = "ghpages"\nGITHUB_COMMIT_SOURCE = False\n' >> conf.py
    - name: Execute notebooks
      run: |
        make all --jobs $(nproc --all)
    - name: Publish
      run: |
        nikola github_deploy
